html { margin: 0; padding: 0; width: 100%; height: 100% }
body { margin: 0; padding: 0; height: 100%; overflow: hidden }

div#frontPage {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%
}

div#gamePage {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%
}

div#interface {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 50;
}

div#viewport_container {
	margin: 0;
	padding: 0;
	
	position: relative;
	
	float: left;
	width: 100%;
	height: 100%;
}

canvas#viewport {
	margin: 0;
	padding: 0;
	
	float: left
}

canvas#bg, canvas#st, canvas#main, canvas#fg {
	margin: 0;
	padding: 0;
	
	position: absolute;
	left: 0;
	top: 0;
}

canvas#bg {
    z-index: 1;
}

canvas#st {
    z-index: 10;
}

canvas#main {
    z-index: 20;
}

canvas#fg {
    z-index: 30;
}

div#log_container {
	margin: 0;
	padding: 0;
	
	width: 250px;
	height: 100%;
	
	border: 2px solid black;
	
	background-color: black;
	opacity: 0.9;
	
	color: white;
	
	position: absolute;
	right: 0;
	top: 0;
	overflow: auto
}

div#tools_container {
	margin: 0;
	border: 2px solid black;
	
	background-color: black;
	opacity: 0.9;
	color: white;
	
	
	width: 100%;
	height: 20%;
	
	position: absolute;
	bottom: 0;
	
	overflow: auto
}

ul#log { float: left }
