html { margin: 0; padding: 0; width: 100%; height: 100% }
body { margin: 0; padding: 0; height: 100%; overflow: hidden }

div#frontPage {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%
}

div#gamePage {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    cursor: url(/images/cursor_arrow.png), pointer;
}

div#interface {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: 50;
    
    pointer-events: none;
}

div#viewport_container {
	margin: 0;
	padding: 0;
	
	position: relative;
	
	float: left;
	width: 100%;
	height: 100%;
}

canvas#viewport {
	margin: 0;
	padding: 0;
	
	float: left
}

canvas#bg, canvas#st, canvas#main, canvas#fg {
	margin: 0;
	padding: 0;
	
	position: absolute;
	left: 0;
	top: 0;
}

canvas#bg {
    z-index: 1;
}

canvas#st {
    z-index: 10;
}

canvas#main {
    z-index: 20;
}

canvas#fg {
    z-index: 30;
}

div#info_panel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    
    border: 2px solid black;
    
    background-color: black;
    opacity: 0.9;
    
    color: white;
    
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

div#log_container {
	margin: 0;
	padding: 0;
	
	width: 250px;
	height: 700px;
	
	border: 2px solid black;
	
	background-color: black;
	opacity: 0.9;
	
	color: white;
	
	position: absolute;
	right: 0;
	top: 30px;
	overflow: auto;
	
	display: block;
}

div#tools_container {
	margin: 0;
	border: 2px solid black;
	
	background-color: black;
	opacity: 0.9;
	color: white;
	
	width: 100%;
	height: 200px;
	
	position: absolute;
	bottom: 0;
	
	overflow: auto;
	
	display: none;
}

div#info_panel ul {
    list-style: none;
    margin: 5px 0;
    padding: 0 5px;
}

div#info_panel ul li {
    display: block;
    float: left;
    margin: 0 10px;
    
    width: 200px;
}

div#menu_list {
    float: left;
    
    width: 30%;
}

div#menu_selected_content {
    border: 2px solid #ccc;
    float: right;
    
    width: 65%;
    height: 100%;
}

div#settlement_details, div#army_details, div#city_details,
div#recruit_details, div#diplomacy_details {
    width: 100%;
    height: 100%
}

ul#log { float: left }


.head {
    font-weight: bold
}
